* {
  @extend %resetMarginAndPadding;
  box-sizing: border-box;
}

html {
  @include font("Intern-Regular", 16px, 400);
}

::after,
::before {
  @extend %resetMarginAndPadding;
}

body {
  background-color: $bgColor;
  color: $mainTextColor;

  &::after {
    @extend %blur;
    left: 50%;
    top: -200px;

    width: 259px;
    height: 259px;

    background-color: $blurColor2;

    @media screen and (max-width: $tabletsScreen) {
      right: 0;
      top: 50%;

      width: 180px;
      height: 180px;
    }
  }

  &::before {
    @extend %blur;
    left: -200px;
    top: 50%;

    width: 311px;
    height: 311px;

    background-color: $blurColor1;

    @media screen and (max-width: $tabletsScreen) {
      left: -200px;
      top: 10%;

      width: 300px;
      height: 300px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 1rem;
  margin: auto;

  @media screen and (max-width: $smallScreen) {
    max-width: 100%;
  }
}
