%qual-height{
    display: flex;
    flex-wrap: wrap;
}

%resetMarginAndPadding{
    margin: 0;
    padding: 0;
}

%flex{
    display: flex;
}

%flexCenter{
    @extend %flex;
    justify-content: center;
    align-items: center;
}

%border50{
    border-radius: 50%;
}

%blur{
    @extend %border50;
    content: "";
    position: absolute;
    opacity: 0.5;
    filter: blur(196px)
}